body {
    margin: auto 0;
}

header {
    font-family: 'Reality Hyper', sans-serif;
    font-size: 50px;
    border-bottom: 2px solid black;
    width: 400px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 45px;
    margin-left: 1rem;
}

p {
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    color: rgb(97, 96, 96);
    text-align: justify;
    line-height: 150%;
    margin-left: 2rem;
    margin-right: 2rem;
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: end;
    margin: 0;
}

footer {
    background-color: black;
    color: white;
    margin: 0;
    display: grid;
    grid-column-end: -1;
    position: relative;
}

h2 {
    font-family: 'Ubuntu', cursive;
    font-weight: lighter;
    color: white;
    margin-right: 2rem;
    text-align: right;
    margin-bottom: 2rem;
}

/* Media */

.item2 img {
    margin-right: 0rem;
    width: 100%;
}

video {
    width: 100%
}

.push {
    margin-left: auto;
}

.more {
    align: right;
}

footer p {
    display:grid;
    margin-bottom: 2rem;
    font-size: small;
    display:grid;
    grid-template-columns:2fr 35px 40px 40px ;
    align-items: left;
    margin-left: 0em;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color:  rgb(242, 198, 77);