*{
    padding: 0;
    margin: 0;
      list-style: none;
    text-decoration: none;
  }
  body{
    font-family: 'poppins', sans-serif;
  }
 
body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color:  rgb(242, 198, 77);
}

  /* navigation*/
  nav{
    height: 100px;
      background: rgb(13, 16, 28);
  }
  nav img{
      position: absolute;
      width: 90px;
      left: 5%;
  }
  nav ul{
    float: right;
    margin-right: 25px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
  }
  nav ul li a{
    position: relative;
    padding: 5px 0;
    color: rgb(242, 198, 77);
    font-size: 18px;
    text-transform: uppercase;
  }
  nav ul li a:before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
      background: rgb(242, 198, 77);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
  }
  nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
  }
  label #btn,
  label #cancel{
    font-size: 30px;
    color: rgb(242, 198, 77);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 1118px){
    nav img{
      left: 8%;
    }
  }
  @media (max-width: 944px){
    nav img{
      width: 75px;
          top: 20px;
          left: 6%;
    }
      nav ul li a{
          font-size: 17px;
      }
  }
  @media (max-width: 860px){
    label #btn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: rgb(13, 16, 28);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    #check:checked ~ ul{
      left: 0;
      z-index: 10000;
    }
      #check:checked ~ label #btn{
      display: none;
    }
      #check:checked ~ label #cancel{
      display: block;
    }
  }
  /*--x--navigation--x--*/
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(./Assets/images/sports-car.jpg);
  background-size: cover;
}

.btn {
  position: relative;
  display: inline-block;
  width: 277px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  text-decoration:none;
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  font-size:17px;
  letter-spacing: 0.045em;
}

.btn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.btn svg rect {
  //stroke: #EC0033;
  stroke-width: 4;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.btn span{
background: rgb(255,130,130);
background: -moz-linear-gradient(left,  rgba(255,130,130,1) 0%, rgba(225,120,237,1) 100%);
background: -webkit-linear-gradient(left,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
background: linear-gradient(to right,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );

-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 437;
}